[package]
name = "protocol"
version.workspace = true
edition.workspace = true

[dependencies]
prost.workspace = true
prost-types.workspace = true
serde.workspace = true

[build-dependencies]
walkdir.workspace = true
prost-build.workspace = true

[lib]
name = "sonettobuf"
